@media (min-width:1200px){ 
    body{
        background: url("./images/bg-desktop.svg"), $Violet;
        background-repeat: no-repeat;
        height: 100vh;
        // background-size: cover;
        main{
            padding-block: 2rem;
            height: 100vh;
        }
        .main{
            align-items: end;
            margin-top: 4rem;
            
           &__content{
            display: flex;
            gap: 3rem;
           }
            &__img{
                width: 100%;
                margin-bottom: 0;
            }
            &__text{
                width: 70%;
                padding-top: 3rem;
                text-align: left;
                display: block;
                p{
                    font-size: clamp(0.5rem, 3vw, 1rem);
                    font-weight: 300;
                    line-height: 1.7em;
                }
                button{
                    cursor: pointer;
                    padding-inline: 4rem;
                   
                }
            }
        }
    
        .links{
            display: flex;
            width: max-content;
            align-items: flex-end;
            justify-items: flex-end;
            gap: 1rem;
            margin-top: 0;
            margin-bottom: 1rem;
    
            span{
                border-radius: 50%;
                border: 1px solid white;
                padding: 0.5rem;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-items: center;
                align-items: center;
                @include transtion()
            }
    
            span:hover > img{
                fill: $Soft_Magenta;
            }
    
            img{
                object-fit: contain;
    
                height: auto;
                position: relative;
                @include transtion()
            }
    
            img:after{
                content: "";
                position: absolute;
                background-color: aqua;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }     
}